/*Generals*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: sans-serif;
  /*position: relative;*/
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*HEADER*/
header {
  background-color: #ffd213;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 20;
}

header .menu {
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

header .menu label {
  padding: 0 30px;
  cursor: pointer;
}

header .menu .menuBotton {
  display: none;
}

header .menu .navContainer {
  position: absolute;
  top: 60px;
  right: -600px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

header .menu .navContainer .menuContainer {
  height: 100vh;
  width: 50vw;
  background-color: #ffd213;
}

header .menu .navContainer .menuContainer .menuDropdown {
  height: 100vh;
  color: #000000;
}

header .menu .navContainer .menuContainer .menuDropdown .menuItem {
  font-size: 1.7rem;
  line-height: 7rem;
  padding: 0 0 0 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

header .menu .navContainer .menuContainer .menuDropdown .menuItem .menuLink {
  color: #000000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .menu .navContainer .menuContainer .menuDropdown .menuItem:hover {
  -webkit-box-shadow: 250px 0 8px #ffffff inset;
          box-shadow: 250px 0 8px #ffffff inset;
}

header .menu .navContainer .menuContainer .menuDropdown .menuItem:hover > .menuLink {
  color: #f4a727;
}

header .menu .menuBotton:checked ~ .navContainer {
  right: 0;
}

/*main*/
main {
  position: relative;
  padding-top: 59.5px;
}

/*banner*/
.bannerContainer {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
  background-color: #f4a727;
}

.bannerContainer .bannerPicContainer {
  width: 40%;
}

.bannerContainer .bannerTittle {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bannerContainer .bannerTittle h1 {
  font-size: 3rem;
  line-height: 2.3rem;
  margin-bottom: 10px;
}

/*about me*/
/* .aboutContainer {
  clip-path: polygon(100% 0, 100% 96%, 76% 100%, 0 95%, 0 0);
  padding: 0;
  .aboutTittle {
    margin: 20px 0;
    h2 {
      text-align: center;
      font-size: 2.2rem;
      font-weight: bold;
    }
  }
  .aboutItems {
    padding: 20px;
    .aboutItem {
      margin-bottom: 20px;
      .itemButton {
        display: flex;
        align-items: center;
        button {
          background-color: transparent;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.7rem;
          border: 0;
          cursor: pointer;
        }
      }
      .itemDescription {
        display: none;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* background: rgba(0, 0, 0, 0.515);
        padding-top: 33%; 
        p {
          margin: auto;
          width: 80%;
          font-size: 1.7rem;
          line-height: 2.2rem;
          padding: 20px;
          border-radius: 20px;
        }
        #paragraphDescription {
          background-color: $yellow;
        }
        #paragraphDescription1 {
          background-color: $orange;
        }
        #paragraphDescription2 {
          background-color: $blue-blue;
        }
        #paragraphDescription3 {
          background-color: $soft-grey;
        }
      }
    }
  }
}

.modalStyles {
  display: block !important;
}
 */
.overlay,
.overlay2 {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
}

.aboutContainer {
  padding: 0;
}

.aboutContainer .aboutTittle {
  margin-bottom: 20px;
}

.aboutContainer .aboutTittle h2 {
  text-align: center;
  font-size: 1.7rem;
  line-height: 2.7rem;
}

.aboutContainer .aboutItems {
  background: yellow;
  padding: 10px;
}

.aboutContainer .aboutItems .aboutItem {
  background: green;
  padding: 20px;
}

.aboutContainer .aboutItems .aboutItem .itemButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutContainer .aboutItems .aboutItem .itemButton label {
  cursor: pointer;
}

.aboutContainer .aboutItems .aboutItem .itemButton button {
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 1.5rem;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.aboutContainer .aboutItems .aboutItem .itemDescription,
.aboutContainer .aboutItems .aboutItem .itemDescription2 {
  padding: 20px;
  height: 50%;
  width: 80%;
  overflow-y: scroll;
  border-radius: 10px;
  background: blue;
  display: none;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 35;
  -webkit-transition-delay: 5s;
          transition-delay: 5s;
}

.aboutContainer .aboutItems .aboutItem .itemDescription .itemDescriptionCloseButton,
.aboutContainer .aboutItems .aboutItem .itemDescription2 .itemDescriptionCloseButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding-bottom: 10px;
}

.aboutContainer .aboutItems .aboutItem .itemDescription .itemDescriptionCloseButton button,
.aboutContainer .aboutItems .aboutItem .itemDescription2 .itemDescriptionCloseButton button {
  background: transparent;
  font-size: 2rem;
  font-weight: bold;
  border: 0;
  cursor: pointer;
}

.aboutContainer .aboutItems .aboutItem .itemDescription .itemDescriptionParagraph,
.aboutContainer .aboutItems .aboutItem .itemDescription2 .itemDescriptionParagraph {
  margin-top: 20px;
  color: white;
  font-size: 1.5rem;
  line-height: 2.3rem;
}

/*experience*/
.experienceContainer {
  padding: 40px 0 50px;
  background-color: #ffd213;
  -webkit-clip-path: polygon(100% 4%, 100% 97%, 0 100%, 0 8%, 54% 0);
          clip-path: polygon(100% 4%, 100% 97%, 0 100%, 0 8%, 54% 0);
}

.experienceContainer .experienceTittle {
  margin: 20px 0;
}

.experienceContainer .experienceTittle h2 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
}

.experienceContainer .experiencesItemsContainer {
  background: #ffd213;
  width: 100vw;
  overflow-x: scroll;
}

.experienceContainer .experiencesItemsContainer::-webkit-scrollbar {
  -webkit-appearance: none;
}

.experienceContainer .experiencesItemsContainer::-webkit-scrollbar:vertical {
  width: 10px;
}

.experienceContainer .experiencesItemsContainer::-webkit-scrollbar-button:increment {
  display: none;
}

.experienceContainer .experiencesItemsContainer::-webkit-scrollbar-button {
  display: none;
}

.experienceContainer .experiencesItemsContainer::-webkit-scrollbar:horizontal {
  height: 10px;
}

.experienceContainer .experiencesItemsContainer::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 8px #000000 inset;
          box-shadow: 2px 2px 8px #000000 inset;
}

.experienceContainer .experiencesItemsContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f4a727;
}

.experienceContainer .experiencesItemsContainer .experiencesItemsContent {
  padding: 0 15px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experienceContainer .experiencesItemsContainer .experiencesItemsContent .experienceItem {
  margin: 20px 0;
  padding: 0 15px;
}

.experienceContainer .experiencesItemsContainer .experiencesItemsContent .experienceItem .iframe {
  width: 280px;
  height: 450px;
  border-radius: 10px;
  border: 0;
}

/*certificates*/
.certificatesContainer {
  padding-bottom: 20px;
}

.certificatesContainer .certificatesTittle {
  margin-top: 20px;
  padding: 20px;
}

.certificatesContainer .certificatesTittle h2 {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.certificatesContainer .certificatesItemsContainer {
  width: 100vw;
  overflow-x: scroll;
}

.certificatesContainer .certificatesItemsContainer::-webkit-scrollbar {
  -webkit-appearance: none;
}

.certificatesContainer .certificatesItemsContainer::-webkit-scrollbar:vertical {
  width: 10px;
}

.certificatesContainer .certificatesItemsContainer::-webkit-scrollbar-button:increment {
  display: none;
}

.certificatesContainer .certificatesItemsContainer::-webkit-scrollbar-button {
  display: none;
}

.certificatesContainer .certificatesItemsContainer::-webkit-scrollbar:horizontal {
  height: 10px;
}

.certificatesContainer .certificatesItemsContainer::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 8px #000000 inset;
          box-shadow: 2px 2px 8px #000000 inset;
}

.certificatesContainer .certificatesItemsContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f4a727;
}

.certificatesContainer .certificatesItemsContainer .certificatesItemsContent {
  padding: 0 15px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.certificatesContainer .certificatesItemsContainer .certificatesItemsContent .certificateItem {
  margin: 20px 10px;
}

.certificatesContainer .certificatesItemsContainer .certificatesItemsContent .certificateItem img {
  width: 280px;
  height: auto;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 8px black;
          box-shadow: 2px 2px 8px black;
}

/*footer*/
.footerContainer {
  -webkit-clip-path: polygon(50% 0%, 100% 9%, 100% 100%, 0 100%, 0 6%);
          clip-path: polygon(50% 0%, 100% 9%, 100% 100%, 0 100%, 0 6%);
  background-color: #ffd213;
  padding: 25px 0 40px;
}

.footerContainer .footerContent .footerTittle {
  margin-bottom: 40px;
}

.footerContainer .footerContent .footerTittle h2 {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.footerContainer .footerContent .data .emailContainer {
  margin-bottom: 40px;
}

.footerContainer .footerContent .data .emailContainer p {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.footerContainer .footerContent .data .rrssContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerContainer .footerContent .data .rrssContainer p {
  margin: 0 10px;
}
/*# sourceMappingURL=style.css.map */