/*Generals*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: sans-serif;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*HEADER*/
header {
  background-color: #ffd213;
  width: 100%;
  height: 60px;
}

header .menu {
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

header .menu label {
  padding: 0 30px;
  cursor: pointer;
}

header .menu .menuBotton {
  display: none;
}

header .menu .navContainer {
  position: absolute;
  top: 60px;
  right: -600px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

header .menu .navContainer .menuContainer {
  height: 100vh;
  width: 50vw;
  background-color: #ffd213;
}

header .menu .navContainer .menuContainer .menuDropdown {
  height: 100vh;
  color: #000000;
}

header .menu .navContainer .menuContainer .menuDropdown .menuItem {
  font-size: 1.7rem;
  line-height: 7rem;
  padding: 0 0 0 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

header .menu .navContainer .menuContainer .menuDropdown .menuItem .menuLink {
  color: #000000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .menu .navContainer .menuContainer .menuDropdown .menuItem:hover {
  -webkit-box-shadow: 250px 0 8px #ffffff inset;
          box-shadow: 250px 0 8px #ffffff inset;
}

header .menu .navContainer .menuContainer .menuDropdown .menuItem:hover > .menuLink {
  color: #f4a727;
}

header .menu .menuBotton:checked ~ .navContainer {
  right: 0;
}

/*main*/
main {
  position: relative;
}

/*banner*/
.bannerContainer {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
  background-color: #f4a727;
}

.bannerContainer .bannerPicContainer {
  width: 40%;
}

.bannerContainer .bannerTittle {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bannerContainer .bannerTittle h1 {
  font-size: 3rem;
  line-height: 2.3rem;
  margin-bottom: 10px;
}

/*about me*/
.aboutContainer {
  -webkit-clip-path: polygon(100% 0, 100% 96%, 76% 100%, 0 95%, 0 0);
          clip-path: polygon(100% 0, 100% 96%, 76% 100%, 0 95%, 0 0);
  padding: 0 0 50px 0;
}

.aboutContainer .aboutTittle {
  margin: 20px 0;
}

.aboutContainer .aboutTittle h2 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
}

.aboutContainer .aboutItems {
  padding: 20px;
}

.aboutContainer .aboutItems .aboutItem {
  margin-bottom: 20px;
}

.aboutContainer .aboutItems .aboutItem .itemButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutContainer .aboutItems .aboutItem .itemButton button {
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.7rem;
  border: 0;
  cursor: pointer;
}

.aboutContainer .aboutItems .aboutItem .itemDescription {
  display: none;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.515);
        padding-top: 33%; */
}

.aboutContainer .aboutItems .aboutItem .itemDescription .closeButton {
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: #2ca8f2;
  top: 0;
  display: block;
  margin: 20px auto 0;
  -webkit-box-shadow: 2px 2px 8px #000000;
          box-shadow: 2px 2px 8px #000000;
  width: 100px;
  border-radius: 20px;
  padding: 3px 5px;
  font-weight: bold;
}

.aboutContainer .aboutItems .aboutItem .itemDescription p {
  margin: auto;
  width: 80%;
  font-size: 1.7rem;
  line-height: 2.2rem;
  padding: 20px;
  border-radius: 20px;
}

.aboutContainer .aboutItems .aboutItem .itemDescription #paragraphDescription {
  background-color: #ffd213;
}

.aboutContainer .aboutItems .aboutItem .itemDescription #paragraphDescription1 {
  background-color: #f4a727;
}

.aboutContainer .aboutItems .aboutItem .itemDescription #paragraphDescription2 {
  background-color: #2ca8f2;
}

.aboutContainer .aboutItems .aboutItem .itemDescription #paragraphDescription3 {
  background-color: #c4c4c4;
}

.modalStyles {
  display: block !important;
}

/*experience*/
.experienceContainer {
  background-color: #ffd213;
  -webkit-clip-path: polygon(100% 4%, 100% 100%, 0 96%, 0 8%, 54% 0);
          clip-path: polygon(100% 4%, 100% 100%, 0 96%, 0 8%, 54% 0);
}

.experienceContainer .experienceTittle {
  margin: 20px 0;
}

.experienceContainer .experienceTittle h2 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
}

.experienceContainer .experienceItems {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
}

.experienceContainer .experienceItems .experienceItem {
  width: 75%;
  font-size: 1.7rem;
  scroll-snap-align: center;
}
/*# sourceMappingURL=style.css.map */