$orange: #f4a727;
$yellow: #ffd213;
$black: #000000;
$soft-red: #d94c3b;
$blue-blue: #2ca8f2;
$soft-grey: #c4c4c4;
$white: #ffffff;
$overlay: rgba(34, 34, 34, 0.95);

/*Generals*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
  font-family: sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/*HEADER*/
header {
  background-color: $yellow;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 20;
  .menu {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
    label {
      padding: 0 30px;
      cursor: pointer;
    }
    .menuBotton {
      display: none;
    }
    .navContainer {
      position: absolute;
      top: 60px;
      right: -600px;
      transition: all 0.5s ease-out;

      .menuContainer {
        height: 100vh;
        width: 50vw; /*baja el ipad view a 40vw*/
        background-color: $yellow;

        .menuDropdown {
          height: 100vh;
          color: $black;
          .menuItem {
            font-size: 1.7rem;
            line-height: 7rem;
            padding: 0 0 0 30px;
            transition: all 0.5s ease-in-out;
            cursor: pointer;
            .menuLink {
              color: $black;
              transition: all 0.5s ease-in-out;
            }
            &:hover {
              box-shadow: 250px 0 8px $white inset;
            }
            &:hover > .menuLink {
              color: $orange;
            }
          }
        }
      }
    }
    .menuBotton:checked ~ .navContainer {
      right: 0;
    }
  }
}

/*main*/
main {
  position: relative;
  padding-top: 59.5px;
}

/*banner*/
.bannerContainer {
  height: 70vh;
  display: flex;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
  background-color: $orange;
  .bannerPicContainer {
    width: 70%;
    padding-top: 40px;
    img {
      width: 100%;
    }
  }
  .bannerTittle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 3rem;
      line-height: 2.3rem;
      margin-bottom: 10px;
    }
  }
}
/*about*/
.overlay,
.overlay2,
.overlay3,
.overlay4 {
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
}
.aboutContainer {
  padding: 0;
  .aboutTittle {
    margin-bottom: 20px;
    h2 {
      text-align: center;
      font-size: 1.7rem;
      line-height: 2.7rem;
    }
  }
  .aboutItems {
    padding: 10px;
    .aboutItem {
      padding: 20px;
      .itemButton {
        display: flex;
        align-items: center;
        label {
          cursor: pointer;
          width: 80px;
          height: 80px;
          box-shadow: 2px 2px 8px $black;
          border-radius: 50%;
          img {
            width: 80px;
            height: auto;
          }
        }
        button {
          padding: 0 15px;
          text-transform: uppercase;
          font-size: 1.5rem;
          background: transparent;
          border: 0;
          cursor: pointer;
        }
      }

      .itemDescription,
      .itemDescription2,
      .itemDescription3,
      .itemDescription4 {
        background: $orange;
        padding: 20px;
        height: 80%;
        width: 80%;
        border-radius: 10px;
        box-shadow: 2px 2px 8px $black;
        display: none;
        position: fixed;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 35;
        transition-delay: 5s;
        .itemDescriptionCloseButton {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          padding-bottom: 10px;
          button {
            border: black 2px solid;
            box-shadow: 2px 2px 8px $black;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            background: transparent;
            font-size: 2rem;
            font-weight: bold;
            cursor: pointer;
          }
        }
        .itemDescriptionParagraph {
          h3 {
            font-size: 1.5rem;
          }
          p {
            margin-top: 20px;
            color: white;
            font-size: 1.3rem;
            line-height: 2rem;
          }
        }
      }
    }
  }
}

/*experience*/
.experienceContainer {
  padding: 50px 0 70px;
  clip-path: polygon(0 4%, 41% 0, 100% 5%, 100% 92%, 66% 100%, 0 91%);
  background-color: $orange;
  .experienceTittle {
    margin-bottom: 20px;
    h2 {
      text-align: center;
      font-size: 1.7rem;
      line-height: 2.7rem;
      text-transform: uppercase;
    }
  }
  .experienceContent {
    width: 100%;
    margin-top: 10px;
    padding: 15px 0;
    display: flex;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
      height: 10px;
    }
    &::-webkit-scrollbar-track:horizontal {
      border-radius: 10px;
      background-color: $orange;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $soft-grey;
      border-radius: 20px;
      box-shadow: 2px 2px 8px $black inset;
    }

    .experienceItem {
      margin: 0 15px;
      min-width: 280px;
      height: 460px;
      border-radius: 10px;
      position: relative;
      box-shadow: 2px 2px 8px $black;
      .hoverOverlay {
        height: 45%;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        bottom: 0;
        background: hsla(100, 0%, 0%, 0.9);
        padding: 15px 10px 10px;
        box-sizing: border-box;
        display: none;
        h3 {
          color: $white;
          font-size: 1.7rem;
          margin-bottom: 10px;
        }
        p {
          a {
            display: block;
            color: $white;
            font-size: 1.4rem;
            line-height: 1.9rem;
            padding: 3px 8px;
            border-radius: 50px;
            border: $white 1px solid;
            margin-bottom: 10px;
          }
        }
      }
      &:hover > .hoverOverlay {
        display: block;
      }
    }
    .experience1,
    .experience2,
    .experience3,
    .experience4,
    .experience5,
    .experience6 {
      background-position: center 0;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .experience1 {
      background-image: url("../assets/img/experience1.jpg");
    }
    .experience2 {
      background-image: url("../assets/img/experience2.jpg");
    }
    .experience3 {
      background-image: url("../assets/img/experience3.jpg");
    }
    .experience4 {
      background-image: url("../assets/img/experience4.jpg");
    }
    .experience5 {
      background-image: url("../assets/img/experience5.jpg");
    }
  }
}

/*certificates*/
.certificatesContainer {
  overflow-x: hidden;
  padding-bottom: 20px;
  .certificatesTittle {
    margin-top: 20px;
    padding: 20px;
    h2 {
      text-align: center;
      font-size: 1.8rem;
      text-transform: uppercase;
    }
  }
  .certificatesItemsContainer {
    width: 100vw;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 10px;
    }
    &::-webkit-scrollbar-button:increment {
      display: none;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    &::-webkit-scrollbar:horizontal {
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $soft-grey;
      border-radius: 20px;
      box-shadow: 2px 2px 8px $black inset;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: $orange;
    }
    .certificatesItemsContent {
      padding: 0 15px;
      width: 100vw;
      display: flex;
      .certificateItem {
        margin: 20px 10px;
        img {
          width: 280px;
          height: auto;
          border-radius: 10px;
          box-shadow: 2px 2px 8px black;
        }
      }
    }
  }
}

/*footer*/
.footerContainer {
  clip-path: polygon(50% 0%, 100% 9%, 100% 100%, 0 100%, 0 6%);
  background-color: $orange;
  padding: 25px 0 40px;
  .footerContent {
    .footerTittle {
      margin-bottom: 40px;
      h2 {
        text-align: center;
        font-size: 1.8rem;
        text-transform: uppercase;
      }
    }
    .data {
      .emailContainer {
        margin-bottom: 40px;
        p {
          text-align: center;
          font-size: 1.5rem;
          text-transform: uppercase;
          a {
            color: $black;
            font-weight: bold;
          }
        }
      }
      .rrssContainer {
        display: flex;
        align-items: baseline;
        justify-content: center;
        p {
          margin: 0 10px;
        }
      }
    }
  }
}
/*queries 768px*/
@media (min-width: 768px) {
  .aboutContainer {
    .aboutItems {
      display: flex;
      justify-content: space-evenly;
      .aboutItem {
        .itemButton {
          flex-direction: column;
          button {
            margin-top: 15px;
          }
        }
        .itemDescription {
          height: 50%;
          width: 50%;
        }
      }
    }
  }
}

/*queries 1024px*/
@media (min-width: 1024px) {
  header {
    .menu {
      label {
        display: none;
      }
      .navContainer {
        position: static;
        .menuContainer {
          width: auto;
          height: 60px;
          .menuDropdown {
            display: flex;
            height: 60px;
            .menuItem {
              padding: 0 25px;
            }
          }
        }
      }
    }
  }
}
