header {
  background-color: $yellow;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 20;
  .menu {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
    label {
      padding: 0 30px;
      cursor: pointer;
    }
    .menuBotton {
      display: none;
    }
    .navContainer {
      position: absolute;
      top: 59px;
      right: -600px;
      transition: all 0.5s ease-out;

      .menuContainer {
        height: 100vh;
        width: 50vw; /*baja el ipad view a 40vw*/
        background-color: $yellow;

        .menuDropdown {
          height: 100vh;
          color: $black;
          .menuItem {
            font-size: 1.7rem;
            line-height: 7rem;
            padding: 0 0 0 10px;
            transition: all 0.5s ease-in-out;
            cursor: pointer;
            .menuLink {
              color: $black;
              transition: all 0.5s ease-in-out;
            }
            &:hover {
              box-shadow: 250px 0 8px $white inset;
            }
            &:hover > .menuLink {
              color: $orange;
            }
          }
          .menuLinkDownload {
            background: $blue-blue;
            color: $white;
            text-transform: uppercase;
            font-weight: bold;
            padding: 5px 8px;
            border-radius: 10px;
            box-shadow: 2px 2px 4px $black;
          }
        }
      }
    }
    .menuBotton:checked ~ .navContainer {
      right: 0;
    }
  }
}
