@media (min-width: 1024px) {
  header {
    .menu {
      label {
        display: none;
      }
      .navContainer {
        position: static;
        .menuContainer {
          width: auto;
          height: 60px;
          .menuDropdown {
            display: flex;
            align-items: center;
            height: 60px;
            .menuItem {
              padding: 0 25px;
              line-height: 5rem;
            }
          }
        }
      }
    }
  }
}
